#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

body{
  background: #172c65;
}

.logo {
  width: 30%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  will-change: filter;
}


/* Estilo para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
  .logo {
    width: 100%; /* más ancho en móviles */
  }
}

